/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* common css */
body{
    font-family: 'Poppins', sans-serif;
}
/* header part css */
.header{
    background-color: #264653;
}
.text-large{
    font-size: 3rem;
    font-weight: 900;
}
.text-gray{
    color: #E0E0E0;
    font-size: 1rem;
}
.btn-orange{
    background-color: #E76F51;
}
/* featured bikes css */
.text-orange{
    color: #E76F51;
    font-weight: 600;
}
/* Happy clients css */
.text-large-orange{
    color: #E76F51;
}
.text-dark-gray{
    color: #6C6C6C;
}
.fa-star{
color: #E77C40;
font-size: 18px;
}
.text-blue{
    color: #23A6F0;
    font-weight: 600;
}
.text-dark{
    color: #252B42;
    font-weight: 600;
}
/* Frequently Asked Questions css */
.accordion-button{
background-color: #fff;
color: #383838;
font-weight: 600;
font-size:20px;
}
.accordion p{
color: #7E848C;
}
.accordion-button:focus{
color: #383838;
background-color: #fff;
box-shadow: none;
}
.accordion-button:not(.collapsed){
color: #383838;
background-color: #fff;
box-shadow: none;
}